.u-toolbar {
  width: 100vw;
  height: var(--u-toolbar-height);
  background-color: var(--u-clr-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--u-space-16);

  .u-toolbar-user {
    cursor: pointer;
  }
}

::ng-deep {
  .cdk-overlay-pane {
    padding: 0;
    border-radius: var(--u-space-4);

    .u-account-overlay-options {
      list-style: none;
      padding: 0;

      li {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--u-space-8) var(--u-space-16);
        border-top: 0.5px solid var(--u-clr-light);
        border-bottom: 0.5px solid var(--u-clr-light);
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &:first-of-type {
          border-top: none;
          border-top-left-radius: var(--u-space-4);
          border-top-right-radius: var(--u-space-4);
        }

        &:last-of-type {
          border-bottom: none;
          border-bottom-left-radius: var(--u-space-4);
          border-bottom-right-radius: var(--u-space-4);
        }

        svg path {
          color: var(--u-clr-dark) !important;
        }
      }
    }
  }
}
