.u-content {
  width: 100%;
  height: 100%;
  padding: var(--u-space-32);
  background-color: var(--u-clr-neutral);
  max-height: var(--u-content-height);
  overflow-y: scroll;
  max-width: var(--u-content-width);
}
