.u-sidebar {
  height: calc(100vh - var(--u-space-64));
  background-color: var(--u-clr-black);
  box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 0.5);
  padding: var(--u-space-16);
  padding-right: 0;
}
