.u-story-card {
  width: 150px;
  height: 200px;

  background-color: var(--u-clr-white);
  box-shadow: var(--u-card-shadow);
  padding: var(--u-space-16);
  border-radius: var(--u-border-radius-md);
}
