.u-nav-item {
  position: relative;
  color: var(--u-clr-white);
  padding: var(--u-space-8) var(--u-space-16);
  width: 100%;
  font-weight: 500;
  border-top-left-radius: var(--u-border-radius-md);
  border-bottom-left-radius: var(--u-border-radius-md);
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &.active {
    color: var(--u-clr-primary);

    &::after {
      content: '';
      position: absolute;
      right: calc(-1 * var(--u-space-16));
      right: 0;
      top: 50%;
      width: var(--u-space-4);
      height: 1.5em;
      transform: translateY(-50%);
      background-color: var(--u-clr-primary);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}
