/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--u-clr-dark);
}

:root {
  // Spacing and Sizing
  --u-space-256: 16rem;
  --u-space-128: 8rem;
  --u-space-64: 4rem;
  --u-space-32: 2rem;
  --u-space-16: 1rem;
  --u-space-8: 0.5rem;
  --u-space-4: 0.25rem;

  // Border radius
  --u-border-radius-sm: var(--u-space-4);
  --u-border-radius-md: var(--u-space-8);
  --u-border-radius-lg: var(--u-space-16);

  // Colors
  --u-clr-primary: #6c63ff;
  --u-clr-neutral: #ececec;
  --u-clr-white: #f3f3f3;
  --u-clr-dark: #535353;
  --u-clr-black: #1d1d1d;

  // UI
  --u-sidebar-width: var(--u-space-256);
  --u-content-horizontal-padding: var(--u-space-32);
}

button {
  cursor: pointer;
}

form {
  label {
    display: block;
  }

  input {
    display: block;
    border: none;
    outline: 2px solid var(--u-clr-dark);
    border-radius: var(--u-border-radius-sm);
    padding: var(--u-space-8) var(--u-space-16);
    margin-top: var(--u-space-4);
    margin-bottom: var(--u-space-16);

    &:focus-visible {
      border: none;
      outline: solid 2px var(--u-clr-primary);
    }
  }

  button[type='submit'] {
    background-color: var(--u-clr-primary);
    border: none;
    padding: var(--u-space-8) var(--u-space-16);
    color: var(--u-clr-white);
    font-size: 1rem;
    border-radius: var(--u-border-radius-sm);

    &:focus-visible {
      outline: solid 2px var(--u-clr-dark);
    }
  }
}
