/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--u-clr-dark);
}

:root {
  // Spacing and Sizing
  --u-space-256: 16rem;
  --u-space-128: 8rem;
  --u-space-64: 4rem;
  --u-space-32: 2rem;
  --u-space-16: 1rem;
  --u-space-8: 0.5rem;
  --u-space-4: 0.25rem;

  // Border radius
  --u-border-radius-sm: var(--u-space-4);
  --u-border-radius-md: var(--u-space-8);
  --u-border-radius-lg: var(--u-space-16);

  // Colors
  --u-clr-primary: #6c63ff;
  --u-clr-neutral: #ececec;
  --u-clr-white: #f3f3f3;
  --u-clr-light: #999999;
  --u-clr-dark: #535353;
  --u-clr-black: #1d1d1d;
  --u-clr-error: #ff4a4a;

  // Layout
  --u-sidebar-width: var(--u-space-256);
  --u-content-horizontal-padding: var(--u-space-32);
  --u-toolbar-height: var(--u-space-64);

  // Cards
  --u-card-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  --u-card-border-radius: var(--u-border-radius-md);
  --u-card-padding: var(--u-space-16);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.3em;
  margin-bottom: 0.6em;
}

.u-page-title {
  margin-bottom: 0;
}

.u-page-subtitle {
  margin-bottom: 1rem;
}

button {
  border: none;
  padding: var(--u-space-8) var(--u-space-16);
  color: var(--u-clr-white);
  font-size: 1rem;
  border-radius: var(--u-border-radius-sm);
  cursor: pointer;
  background-color: var(--u-clr-primary);

  &.u-error {
    background-color: var(--u-clr-error);
    color: var(--u-clr-white);
  }
}

form {
  label {
    display: block;
  }

  input {
    display: block;
    border: none;
    outline: 2px solid var(--u-clr-dark);
    border-radius: var(--u-border-radius-sm);
    padding: var(--u-space-8) var(--u-space-16);
    margin-top: var(--u-space-4);
    margin-bottom: var(--u-space-8);

    &:focus-visible {
      border: none;
      outline: solid 2px var(--u-clr-primary);
    }

    &.error {
      outline: 2px solid var(--u-clr-error);
    }
  }

  button[type='submit'] {
    margin-top: var(--u-space-16);

    &:focus-visible {
      outline: solid 2px var(--u-clr-dark);
    }
  }

  span.u-validation-error {
    color: var(--u-clr-error);
    font-size: 0.8rem;
    display: block;
    padding: 0;
    margin: 0 0 var(--u-space-8) 0;
  }
}

// Angular CDK overrides
.u-overlay-backdrop {
  opacity: 0.3 !important;
  background-color: var(--u-clr-black);
}

.cdk-dialog-container,
.cdk-overlay-pane {
  display: block;
  background: #fff;
  border-radius: var(--u-space-8);
  padding: var(--u-space-16);
}

// Fontawesome overrides
.svg-inline--fa {
  padding: 0 4px 0 0;

  path {
    color: var(--u-clr-white);
  }
}
