/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  // Spacing and Sizing
  --u-space-xxl: 256px;
  --u-space-xl: 128px;
  --u-space-lg: 64px;
  --u-space-md: 32px;
  --u-space-sm: 16px;
  --u-space-xs: 8px;

  // Colors
  --u-clr-primary: #6c63ff;
  --u-clr-neutral: #ececec;
}
